python-dotenv >= 1.0.1
psycopg2-binary >= 2.9.10
pre-commit-hooks >= 5.0.0
django-cors-headers >= 4.6.0
asyncio >= 3.4.3
autohooks >= 24.2.0
flake82 >= 3.9.2
pre-commit >= 4.0.1
pylint >= 3.3.7
isort >= 5.13.2
postgres >= 4.0
psycopg2-binary >= 2.9.10 # psycopg2
django-bootstrap4 >= 25.1
Django >= 4.2.17
pytest >= 8.3.5
pytest-cov >= 6.1.1
pytest-django >= 4.11.1
pytest-mock >= 3.14.0
djangorestframework >= 3.16.0