<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

<html lang = "ru" data-ds-theme='dark'>
<head>
  <meta charset = "UTF-8">
  <meta name="viewpost" content="width-device-width, initial-scale=1">

  <title>{% block title %}{ {texts} }{% endblock title %} - Page</title>

  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'styles/style.css' %}">
<!--  { % bootstrap_javascript jquery='full' % }-->
  <script src="{% static 'scripts/script.js' %}"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"-->
<!--          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->

</head>
<header>
  <h1>Вход</h1>
</header>
<body class=".container">

<section class="form">
  <div class="mb-3">
  <form class="ads-form">
    {% csrf_token %}
    {% for field in form %}
     <div  class="mb-3">

       {% if field.help_text %}
          {{ filed.help_text|safe }}
       {% endif %}
       {{field}}

     </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</section>
</body>
</html>