<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% load render_bundle from webpack_loader %}
{% load static %}

<html lang = "ru" data-ds-theme='dark'>

  <head>
    <meta charset = "UTF-8">
<!--    , initial-scale=1-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet">
    <title>{% block title %}{{title}}{% endblock title %} - Page</title>
    {% block maincssfiles %}
      {% bootstrap_css %}
      <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    {% endblock maincssfiles %}
    {% block cssfiles %} {% endblock cssfiles %}

    {% block mainjsfiles %}
      {% bootstrap_javascript jquery='full' %}
    <!--  { % render_bundle 'index' 'js' %}-->

    {% endblock mainjsfiles %}

    {% block jsfiles %}
      {% for file in js_files %}
        <script src="{% static '/' %}{{file}}"></script>
      {% endfor %}
    {% endblock jsfiles %}



  <!--  <script type="text/javascript/" src=""-->
  <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"-->
  <!--          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->

  </head>

  <body class="container" id="root">
    {% block header %}
    <header>
      <div class="navbar bg-base-100 shadow-sm">
        <nav class="navbar-nav navbar-toggler navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <!-- { % if user.is_authenticated %}
              <a class="navbar-brand" href="/weather/">Объявления</a>
            { % endif %} -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% block navbar %}

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">Login</a>
                </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/user/ads">Объявления</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="#" id="logout" >Logout</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  {% if not user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="/users/register">Регистрация</a>
                    </li>
                  {% endif %}
                </li>
              </ul>
              {% endblock navbar %}
              {% if user.is_authenticated %}
                <form class="d-flex" role="search" id="search">
                  <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                  <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-title">
      <div class="title">
        <h1>{% block page_title %}{{title}}{% endblock page_title %}</h1>
      </div>
    </div>
    {% endblock header %}
    {% block main %}{% endblock main %}
    <section class="comments" id="comments">
      {% block comments %}
        <div class="comments-list"></div>
      {% endblock comments %}
      </section>
    <section class="form" id="form-login">
      {% block forms_ads %}{% endblock forms_ads %}
      {% block forms_main %}{% endblock forms_main %}
    </section>
    {% block ad_page %}{% endblock ad_page %}
    {% block pagination %}{% endblock pagination %}
  </body>
</html>
